<div class="row">

  <form [formGroup]="addForm" novalidate class="form">


    <div class="form-group col-md-2">

      <label class="checkbox"><input type="radio" formControlName="class_month" value="1">Jan</label>
      <label class="checkbox"><input type="radio" formControlName="class_month" value="2">Feb</label>
      <label class="checkbox"><input type="radio" formControlName="class_month" value="3">Mar</label>
      <label class="checkbox"><input type="radio" formControlName="class_month" value="4">Apr</label>
      <label class="checkbox"><input type="radio" formControlName="class_month" value="5">May</label>
      <label class="checkbox"><input type="radio" formControlName="class_month" value="6">Jun</label>
      <label class="checkbox"><input type="radio" formControlName="class_month" value="7">Jul</label>
      <label class="checkbox"><input type="radio" formControlName="class_month" value="8">Aug</label>
      <label class="checkbox"><input type="radio" formControlName="class_month" value="9">Sep</label>
      <label class="checkbox"><input type="radio" formControlName="class_month" value="10">Oct</label>
      <label class="checkbox"><input type="radio" formControlName="class_month" value="11">Nov</label>
      <label class="checkbox"><input type="radio" formControlName="class_month" value="12">Dec</label>

      <div class="form-group">
        <label for="idEnd">Year:</label>
        <input formControlName="class_year" class="form-control" id="idEnd">
      </div>

      <button class="btn btn-sm btn-success" [disabled]='addForm.invalid' (click)="refreshChart()">Submit</button>
    </div>

  </form>


  <div class="col-md-10">
    <div [chart]="chart"></div>
  </div>

</div>
