<div class="col-md-6">
  <h2 class="text-center">{{scheduleFormLabel}}</h2>
  <form [formGroup]="addForm" novalidate class="form">

    <div class="form-group">
      <label for="idStart">Start Date/Time:</label>
      <input formControlName="start" placeholder="Start class time" name="start" class="form-control" id="idStart" [owlDateTimeTrigger]="start" [owlDateTime]="start">
      <owl-date-time #start></owl-date-time>
    </div>

    <div class="form-group">
      <label for="idEnd">End Date/Time:</label>
      <input formControlName="end" placeholder="End class time" name="end" class="form-control" id="idEnd" [owlDateTimeTrigger]="end" [owlDateTime]="end">
      <owl-date-time #end></owl-date-time>
    </div>


    <div class="form-group">
      <label for="idSchool">School</label>
      <select formControlName="school_id" class="form-control" id="idSchool" name="school_id" required>
            <option *ngFor="let school of schools" [value]="school.id">{{school.name}}</option>
          </select>
    </div>

    <div class="form-group">
      <label for="idTeacher">Teacher</label>
      <select formControlName="teacher_id" class="form-control" id="idTeacher" name="teacher_id" required>
                <option *ngFor="let teacher of teachers" [value]="teacher.id">{{teacher.name}}</option>
      </select>
    </div>

    <button class="btn btn-sm btn-primary" [disabled]='addForm.invalid' *ngIf="displayButton" (click)="onSave()">Save</button>
    <button class="btn btn-sm btn-success" [disabled]='addForm.invalid' *ngIf="!displayButton" (click)="onUpdate()">Update</button>

  </form>
</div>
