<div class="col-md-6">
  <h2 class="text-center">{{scheduleFormLabel}}</h2>
  <form [formGroup]="addForm" novalidate class="form">

    <div class="form-group">
      <label for="idStart">Start Date/Time:</label>
      <input formControlName="start" placeholder="Start class time" name="start" class="form-control" id="idStart" [owlDateTimeTrigger]="start" [owlDateTime]="start">
      <owl-date-time #start></owl-date-time>
    </div>

    <div class="form-group">
      <label for="idEnd">End Date/Time:</label>
      <input formControlName="end" placeholder="End class time" name="end" class="form-control" id="idEnd" [owlDateTimeTrigger]="end" [owlDateTime]="end">
      <owl-date-time #end></owl-date-time>
    </div>


    <div class="form-group">
      <label for="idLocation">School</label>
      <select formControlName="location_id" class="form-control" id="idLocation" name="location_id" required>
            <option *ngFor="let location of locations" [value]="location.id">{{location.name}}</option>
          </select>
    </div>

    <div class="form-group">
      <label for="idEmployee">Teacher</label>
      <select formControlName="employee_id" class="form-control" id="idEmployee" name="employee_id" required>
                        <option *ngFor="let employee of employees" [value]="employee.id">{{employee.name}}</option>
              </select>
    </div>

    <div class="form-group">
      <label for="idPay">Pay</label>
      <input formControlName="pay_rate" type="number" placeholder="Pay" name="pay_rate" class="form-control" id="idPay">
    </div>

    <div class="form-group" *ngIf="!displayButton">
      <label>Teacher showed up? </label>
      <label class="md-check">
            <input type="radio" [value]="true" name="completed" formControlName="completed">
            Yes
          </label>

      <label class="md-check">
            <input type="radio" [value]="false" name="completed" formControlName="completed">
             No
          </label>
    </div>

    <button class="btn btn-sm btn-primary" [disabled]='addForm.invalid' *ngIf="displayButton" (click)="onSave()">Save</button>
    <button class="btn btn-sm btn-success" [disabled]='addForm.invalid' *ngIf="!displayButton" (click)="onUpdate()">Update</button>

  </form>
</div>
