<div class="container" [formGroup]="filterForm">

<div class="row">
  <div class="col">
    <input formControlName="search" placeholder="Search by name">
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <h3>Schools</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>School Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let school of (page | async)?.results">
          <td>{{school.id}}</td>
          <td>{{school.name}}</td>
          <td>{{school.email}}</td>
          <td>{{school.phone}}</td>
          <td>{{school.addess1}} {{school.addess2}}</td>
          <td>
            <button class="btn btn-xs btn-primary" (click)="editSchool(school)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-paginator [page]="page | async" (pageChange)="onPageChanged($event)"></app-paginator>
  </div>
</div>

<div class="row top-buffer">
  <div class="col">
    <button class="btn btn-sm btn-success" (click)="addSchool()">Add School</button>
  </div>
</div>

</div>
