<p>school-create works!</p>

<div class="card">
	<div class="card-body">
		<form [formGroup]="memberFrm" novalidate>
			<div class="form-group">
				<label class="col-md-4">Name</label> 
				<input type="text" class="form-control" formControlName="name" #name />
			</div>
			<div
				*ngIf="memberFrm.controls['name'].invalid && (memberFrm.controls['name'].dirty || memberFrm.controls['name'].touched)"
				class="alert alert-danger">
				<div *ngIf="memberFrm.controls['name'].errors.required">Name
					is required.</div>
			</div>
			<div class="form-group">
				<label class="col-md-4">Phone</label> <input type="text"
					class="form-control" formControlName="phone" #phone />
			</div>
			<div
				*ngIf="memberFrm.controls['phone'].invalid && (memberFrm.controls['phone'].dirty || memberFrm.controls['phone'].touched)"
				class="alert alert-danger">
				<div *ngIf="memberFrm.controls['phone'].errors.required">Age
					is required.</div>
			</div>
			<div class="form-group">
				<button (click)="addMember(name.value, age.value)"
					[disabled]="memberFrm.pristine || memberFrm.invalid"
					class="btn btn-success">Add</button>
			</div>
		</form>
	</div>
</div>