<h2>Register</h2>


<div class="col-md-6">
  <h2 class="text-center">Register</h2>
    <form [formGroup]="addForm" novalidate class="form">

    <div class="form-group">
      <label for="idFirstName">First name:</label>
      <input formControlName="first_name" placeholder="First name" class="form-control" id="idFirstName" name="first_name">
      <div class="alert  alert-danger" *ngIf="addForm.get('first_name').hasError('required') && addForm.get('first_name').touched">
        First name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="idLastName">Last name:</label>
      <input formControlName="last_name" placeholder="Last name" class="form-control" id="idLastName" name="last_name">
      <div class="alert  alert-danger" *ngIf="addForm.get('last_name').hasError('required') && addForm.get('last_name').touched">
        Last name is required.
      </div>
    </div>


    <div class="form-group">
      <label for="idUsername">Username:</label>
      <input formControlName="username" placeholder="Username" class="form-control" id="idUsername" name="username">
      <div class="alert  alert-danger" *ngIf="addForm.get('username').hasError('required') && addForm.get('username').touched">
        Username is required.
      </div>
    </div>

    <div class="form-group">
      <label for="idEmail">Email:</label>
      <input formControlName="email" placeholder="Email" class="form-control" id="idEmail" name="email">
      <div class="alert  alert-danger" *ngIf="addForm.get('email').hasError('required') && addForm.get('email').touched">
        Email is required.
      </div>
    </div>

    <div class="form-group">
      <label for="idPassword">Password</label>
      <input type="password" formControlName="password" class="form-control" id="idPassword" name="password"/>
      <div class="alert  alert-danger" *ngIf="addForm.get('password').hasError('password') && addForm.get('password').touched">
        Password is required and must be at least 6 characters.
      </div>
    </div>

    <button class="btn btn-success" [disabled]='addForm.invalid' (click)="register()">Register</button>
    <a [routerLink]="['/account/login']" class="btn btn-link">Cancel</a>

  </form>
</div>
