<mat-sidenav #sidenav (keydown.escape)="sidenav.close()" (click)="sidenav.close()">
  <mat-nav-list *ngIf="isLoggedIn$ | async">

    <a mat-list-item routerLink="/userinfo" (click)="sidenav.close()">
      <mat-icon>account_circle</mat-icon>Login Info</a>
    <a mat-list-item routerLink="/locations" (click)="sidenav.close()">
      <mat-icon>school</mat-icon>Schools</a>
    <a mat-list-item routerLink="/employees" (click)="sidenav.close()">
      <mat-icon>person</mat-icon>Teachers</a>


    <a mat-list-item routerLink="/classes" (click)="sidenav.close()">
      <mat-icon>class</mat-icon>Classes</a>
    <a mat-list-item routerLink="/create-schedule" (click)="sidenav.close()">
      <mat-icon>event</mat-icon>Create Single Class</a>
    <a mat-list-item routerLink="/repeater" (click)="sidenav.close()">
      <mat-icon>repeat</mat-icon>Create Repeating Classes</a>

    <a mat-list-item routerLink="/mycal" (click)="sidenav.close()">
      <mat-icon>date_range</mat-icon>Calendar</a>
    <a mat-list-item routerLink="/chart" (click)="sidenav.close()">
      <mat-icon>bar_chart</mat-icon>Chart</a>
    <a mat-list-item routerLink="/sites" (click)="sidenav.close()">
      <mat-icon>store_mall_directory</mat-icon>Sites</a>

  </mat-nav-list>

  <mat-nav-list *ngIf="!(isLoggedIn$ | async)">
    <a mat-list-item routerLink="/login" (click)="sidenav.close()">
      <mat-icon>account_circle</mat-icon>Login</a>

  </mat-nav-list>

</mat-sidenav>



<mat-toolbar color="primary">
  <span>
  <button mat-icon-button (click)="sidenav.open('mouse')">
          <mat-icon>menu</mat-icon>
  </button>
</span>
  <span class="fill-remaining-space"></span>
  <div *ngIf="isLoggedIn$ | async">
      <mat-icon>face</mat-icon>{{authService.username}}

  </div>


</mat-toolbar>
