<mat-sidenav #sidenav (keydown.escape)="sidenav.close()" (click)="sidenav.close()">
  <mat-nav-list *ngIf="isLoggedIn$ | async">

    <a mat-list-item routerLink="/account/info" (click)="sidenav.close()">
      <mat-icon>account_circle</mat-icon>Login Info</a>
    <a *ngIf="authService.user.is_staff" mat-list-item routerLink="/locations" (click)="sidenav.close()">
      <mat-icon>school</mat-icon>Schools</a>
    <a *ngIf="authService.user.is_staff" mat-list-item routerLink="/employees" (click)="sidenav.close()">
      <mat-icon>person</mat-icon>Teachers</a>


    <a *ngIf="authService.user.is_staff" mat-list-item routerLink="/schedules" (click)="sidenav.close()">
      <mat-icon>class</mat-icon>Classes</a>
    <a *ngIf="authService.user.is_staff" mat-list-item routerLink="/schedules/create" (click)="sidenav.close()">
      <mat-icon>event</mat-icon>Create Single Class</a>
    <a *ngIf="authService.user.is_staff" mat-list-item routerLink="/schedules/repeater" (click)="sidenav.close()">
      <mat-icon>repeat</mat-icon>Create Repeating Classes</a>

    <a *ngIf="authService.user.is_staff" mat-list-item routerLink="/mycal" (click)="sidenav.close()">
      <mat-icon>date_range</mat-icon>Calendar</a>
    <a *ngIf="authService.user.is_staff" mat-list-item routerLink="/chart" (click)="sidenav.close()">
      <mat-icon>bar_chart</mat-icon>Chart</a>
    <a *ngIf="authService.user.is_superuser" mat-list-item routerLink="/sites" (click)="sidenav.close()">
      <mat-icon>store_mall_directory</mat-icon>Sites</a>

  </mat-nav-list>

  <mat-nav-list *ngIf="!(isLoggedIn$ | async)">
    <a mat-list-item routerLink="/account/login" (click)="sidenav.close()">
      <mat-icon>account_circle</mat-icon>Login</a>

  </mat-nav-list>

</mat-sidenav>



<mat-toolbar color="accent">
  <span>
    <button mat-icon-button (click)="sidenav.open('mouse')">
            <mat-icon>menu</mat-icon>
    </button>
  </span>

  <button mat-button routerLink="/account/home"  class="white-text">Start Here</button>

  <span class="fill-remaining-space"></span>

  <div *ngIf="isLoggedIn$ | async">

    <a routerLink="/account/business">
      <span class="label">{{authService.site.name}}</span>
    </a>

    <mat-icon>face</mat-icon>{{authService.username}}
  </div>

  <div *ngIf="!(isLoggedIn$ | async)">
    <button mat-button routerLink="/account/login">Sign In</button>
  </div>

</mat-toolbar>
