.fill-remaining-space {
  flex: 1 1 auto;
}
.white-text {
    font-weight: bolder;
    color: #FFF000!important;
}

.same-line {
  font-weight: bolder;
  color: #FFFFFF;
  font-size: 150%;
  padding: 5px;
}
