<mat-toolbar color="primary">
  <span class="spacer"></span>
  Reload data:
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>



<div class="example-container mat-elevation-z8">

  <div class="form">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput #filter placeholder="Filter issues">
      </mat-form-field>
    </div>

  <table #table mat-table [dataSource]="dataSource" matSort>
    <!-- start Column -->
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start </th>
      <td mat-cell *matCellDef="let row"> {{row.start | date : 'medium'}} </td>
    </ng-container>

    <!-- end Column -->
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> End </th>
      <td mat-cell *matCellDef="let row"> {{row.end | date : 'medium'}} </td>
    </ng-container>

    <!-- school Column -->
    <ng-container matColumnDef="school">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> School </th>
      <td mat-cell *matCellDef="let row"> {{row.school.name}} </td>
    </ng-container>

    <!-- teacher Column -->
    <ng-container matColumnDef="teacher">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Teacher </th>
      <td mat-cell *matCellDef="let row"> {{row.teacher.name}} </td>
    </ng-container>


    <!-- teacher Column -->
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Showed Up? </th>
      <td mat-cell *matCellDef="let row"> {{row.completed}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
    		<th mat-header-cell *matHeaderCellDef> </th>
    		<td mat-cell *matCellDef="let row; let i = index;">
          <button class="btn btn-xs btn-danger" (click)="deleteRow(i, row.id)">Delete</button>

    		</td>
    	</ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>


  <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>

</div>
