<div class="row">

  <div class="col-md-6">
    <p class="text-center">{{scheduleFormLabel}}</p>
    <form [formGroup]="addForm" novalidate class="form" *ngIf="!displayStatus">

      <div class="form-group">
        <label for="idStart">Start Date/Time:
 {{addForm.value.start | date:'fullDate' }} {{addForm.value.start | date:'shortTime' }}
        </label>
        <dl-date-time-picker id="idStart" formControlName="start" startView="day" maxView="year" minView="hour" minuteStep="30" required>
        </dl-date-time-picker>
      </div>


      <div class="form-group">
        <label for="idEnd">End Date:</label>
        <input type="date" id="idEnd" formControlName="end" class="form-control" max="{{maxDate}}" required>
      </div>

      <div class="form-group">
        <label for="idDuration">Class Duration (in hours)</label>
        <mat-slider formControlName="duration" class="form-control" id="idDuration" required [thumbLabel]="true" min="1" max="12" step="0.5" value="1" tickInterval="1">
        </mat-slider>
      </div>




      <div class="form-group">
        <label for="idPay">Pay</label>
        <input formControlName="pay_rate" type="number" placeholder="Pay" name="pay_rate" class="form-control" id="idPay">
      </div>

      <div class="form-group">
        <label class="checkbox-inline" formArrayName="byweekdays" *ngFor="let byweekday of addForm.controls['byweekdays']['controls']; let i = index">
          <input type="checkbox" [formControlName]="i">
          {{byweekdays[i].name}}
        </label>
      </div>


      <div class="form-group">
        <label for="idLocation">School</label>
        <select formControlName="location_id" class="form-control" id="idLocation" name="location_id" required>
          <option *ngFor="let location of locations" [value]="location.id">{{location.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="idEmployee">Teacher</label>
        <select formControlName="employee_id" class="form-control" id="idEmployee" name="employee_id" required>
          <option *ngFor="let employee of employees" [value]="employee.id">{{employee.name}}</option>
        </select>
      </div>

      <button class="btn btn-sm btn-success" [disabled]='addForm.invalid' (click)="checkAndSave()">Submit</button>
    </form>

  </div>
</div>


<div *ngIf="displayStatus" class="row">
  <div class="col-md-10">
    <h2>Inserted {{insertCount}} classes</h2>
    <form>
      <button class="btn btn-sm btn-info" (click)="onReset(); addForm.reset()" style="margin-left:25px;">Reset</button>
    </form>

  </div>
</div>
