<div class="col-md-6">
  <h2 class="text-center">{{locationFormLabel}}</h2>
  <form [formGroup]="addForm" novalidate class="form">

    <div class="form-group">
      <label for="idName">Name:</label>
      <input formControlName="name" placeholder="Name" name="name" class="form-control" id="idName">
      <div class="alert  alert-danger" *ngIf="addForm.get('name').hasError('required') && addForm.get('name').touched">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="idEmail">Email:</label>
      <input formControlName="email" placeholder="Email" name="email" class="form-control" id="idEmail">
      <div class="alert  alert-danger" *ngIf="addForm.get('email').hasError('maxlength') && addForm.get('email').touched">
        Email is required.
      </div>
    </div>

    <div class="form-group">
      <label for="idPhone">Phone:</label>
      <input formControlName="phone" placeholder="Phone" name="phone" class="form-control" id="idPhone">
      <div class="alert  alert-danger" *ngIf="addForm.get('phone').hasError('maxlength') && addForm.get('phone').touched">
        Phone is required.
      </div>
    </div>

    <div class="form-group">
      <label for="idAddress1">Address 1:</label>
      <input formControlName="address1" placeholder="Address" name="address1" class="form-control" id="idAddress1">
      <div class="alert  alert-danger" *ngIf="addForm.get('address1').hasError('maxlength') && addForm.get('address1').touched">
        Address is required.
      </div>
    </div>

    <div class="form-group">
      <label class="radio-inline"><input type="radio" [value]="true" name="active" formControlName="active">Active</label>
      <label class="radio-inline"><input type="radio" [value]="false" name="active" formControlName="active">Inactive</label>
    </div>

    <button class="btn btn-success" [disabled]='addForm.invalid' *ngIf="displayButton" (click)="onSave()">Save</button>
    <button class="btn btn-success" [disabled]='addForm.invalid' *ngIf="!displayButton" (click)="onUpdate()">Update</button>

  </form>
</div>
