
<div class="container" [formGroup]="filterForm">

  <div class="row">
    <div class="col-md-10 form-group">
      <label for="idSchool">School</label>
      <select formControlName="school_id" class="form-control" id="idSchool" name="school_id">
            <option>Select</option>
            <option *ngFor="let school of schools" [value]="school.id">{{school.name}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 form-group">
      <label for="idTeacher">Teacher</label>
      <select formControlName="teacher_id" class="form-control" id="idTeacher" name="teacher_id">
          <option>Select</option>
            <option *ngFor="let teacher of teachers" [value]="teacher.id">{{teacher.name}}</option>
      </select>
    </div>
  </div>

</div>


  <div class="row">
    <div class="col-md-11">
      <h3>Schedules</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Teacher</th>
            <th>School</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schedule of (page | async)?.results">
            <td>{{schedule.start | date : 'medium'}}</td>
            <td>{{schedule.end | date : 'medium'}}</td>
            <td>{{schedule.teacher.name}}</td>
            <td>{{schedule.school.name}}</td>
            <td>
              <button class="btn btn-xs btn-primary" (click)="editSchedule(schedule)">Edit</button>
              <button class="btn btn-xs btn-danger" (click)="deleteSchedule(schedule)" style="margin-left:10px;">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-paginator [page]="page | async" (pageChange)="onPageChanged($event)"></app-paginator>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col">
      <button class="btn btn-sm btn-success" (click)="addSchedule()">Add Schedule</button>
    </div>
  </div>
