<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav" *ngIf="authService.token">
      <li><a routerLink="/login">Login Info</a></li>
      <li><a routerLink="/teachers">Teachers</a></li>
      <li><a routerLink="/schools">Schools</a></li>
      <li><a routerLink="/mycal">Calendar</a></li>
      <li><a routerLink="/chart">Chart</a></li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Schedules <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/smlist">Mat List</a></li>
          <li><a routerLink="/classes">Mat List ver 2</a></li>
          <li><a routerLink="/schedules">List</a></li>
          <li><a routerLink="/create-schedule">Create Single Class</a></li>
          <li><a routerLink="/repeater">Create Repeating Classes</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav" *ngIf="!authService.token">
      <li><a href="#">Login</a></li>
      <li><a href="#" [class.disabled]="!authService.token">Teachers</a></li>
      <li><a href="#" [class.disabled]="!authService.token">Schools</a></li>
      <li><a href="#" [class.disabled]="!authService.token">Calendar</a></li>
      <li><a href="#" [class.disabled]="!authService.token">Chart</a></li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Schedules <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" [class.disabled]="!authService.token">List</a></li>
          <li><a href="#" [class.disabled]="!authService.token">Create Single Class</a></li>
          <li><a href="#" [class.disabled]="!authService.token">Create Repeating Classes</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <a class="navbar-item">
          <img alt="Premier English" src="assets/img/logo.png">
        </a>
  </div>





  <div class="panel panel-primary">
    <div class="panel-heading">Teacher Scheduler</div>
    <div class="panel-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
