<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a routerLink="/teachers">Teachers</a></li>
      <li><a routerLink="/schools">Schools</a></li>
      <li><a routerLink="/schedules">Schedules</a></li>
      <li><a routerLink="/mycal">Calendar</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
        <a class="navbar-item">
          <img alt="Premier English" src="assets/img/logo.gif">
        </a>
  </div>





  <div class="panel panel-primary">
    <div class="panel-heading">Teacher Scheduler</div>
    <div class="panel-body">
      <router-outlet></router-outlet>



  </div>
</div>
</div>
