<div class="row">

  <div class="col-md-8">
    <img src="assets/img/step1of2.png" *ngIf="displayForm1">
    <img src="assets/img/step2of2.png" *ngIf="displayForm2">
  </div>

</div>


<div class="col-md-6">
<!-- step 1 of 2 forms -->
    <form [formGroup]="form1" novalidate class="form" *ngIf="displayForm1">

    <div class="form-group" >
      <label for="idFirstName">First name:</label>
      <input formControlName="first_name" placeholder="First name" class="form-control" id="idFirstName" name="first_name">
      <div class="alert  alert-danger" *ngIf="form1.get('first_name').hasError('required') && form1.get('first_name').touched">
        First name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="idLastName">Last name:</label>
      <input formControlName="last_name" placeholder="Last name" class="form-control" id="idLastName" name="last_name">
      <div class="alert  alert-danger" *ngIf="form1.get('last_name').hasError('required') && form1.get('last_name').touched">
        Last name is required.
      </div>
    </div>


    <div class="form-group">
      <label for="idUsername">Username:</label>
      <input formControlName="username" placeholder="Username" class="form-control" id="idUsername" name="username">
      <div class="alert  alert-danger" *ngIf="form1.get('username').hasError('required') && form1.get('username').touched">
        Username is required.
      </div>
    </div>

    <div class="form-group">
      <label for="idEmail">Email:</label>
      <input formControlName="email" placeholder="Email" class="form-control" id="idEmail" name="email">
      <div class="alert  alert-danger" *ngIf="form1.get('email').hasError('required') && form1.get('email').touched">
        Email is required.
      </div>
    </div>

    <div class="form-group">
      <label for="idPassword">Password</label>
      <input type="password" formControlName="password" class="form-control" id="idPassword" name="password"/>
      <div class="alert  alert-danger" *ngIf="form1.get('password').hasError('password') && form1.get('password').touched">
        Password is required and must be at least 6 characters.
      </div>
    </div>

    <button class="btn btn-success" [disabled]='form1.invalid' (click)="registerUser()">Register</button>

  </form>

  <!-- step 2 of 2 forms -->
      <form [formGroup]="form2" novalidate class="form" *ngIf="displayForm2">

      <div class="form-group" >
        <label for="idFirstName">Business name:</label>
        <input formControlName="name" placeholder="name" class="form-control" id="idName" name="name">
        <div class="alert  alert-danger" *ngIf="form2.get('name').hasError('required') && form2.get('name').touched">
          Business name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="idAddress1">Address:</label>
        <input formControlName="address1" placeholder="Address" class="form-control" id="idAddress1" name="address1">
        <div class="alert  alert-danger" *ngIf="form2.get('address1').hasError('required') && form2.get('address1').touched">
          Address is required.
        </div>
      </div>


      <button class="btn btn-success" [disabled]='form2.invalid' (click)="registerSite()">Register</button>

    </form>

  </div>

    <div class="container col-md-8" *ngIf="displayFinish">
      <h4>You have successfully created a business with you as the administrator. You can now use the menu items from the top left to:</h4>
      <ul class="list-group">
        <li class="list-group-item active">Sign into your newly created account with the link at the top right.</li>
        <li class="list-group-item">Start with adding your business locations. You will need at least one.</li>
        <li class="list-group-item">After adding location(s), you can now add employees.</li>
        <li class="list-group-item">After adding employee(s), you can add them to either an individual schedule or a repeating schedule.</li>
        <li class="list-group-item">You can view the schedules in the Calendar or in the Chart menu items.</li>
      </ul>
    </div>
