<div class="row">

  <div class="col-md-8">
    <img src="assets/img/step1of2.png" *ngIf="displayForm1">
    <img src="assets/img/step2of2.png" *ngIf="displayForm2">
  </div>

</div>


<div class="col-md-6">
<!-- step 1 of 2 forms -->
    <form [formGroup]="form1" novalidate class="form" *ngIf="displayForm1">

    <div class="form-group" >
      <label for="idFirstName">First name:</label>
      <input formControlName="first_name" placeholder="First name" class="form-control" id="idFirstName" name="first_name">
      <div class="alert  alert-danger" *ngIf="form1.get('first_name').hasError('required') && form1.get('first_name').touched">
        First name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="idLastName">Last name:</label>
      <input formControlName="last_name" placeholder="Last name" class="form-control" id="idLastName" name="last_name">
      <div class="alert  alert-danger" *ngIf="form1.get('last_name').hasError('required') && form1.get('last_name').touched">
        Last name is required.
      </div>
    </div>


    <div class="form-group">
      <label for="idUsername">Username:</label>
      <input formControlName="username" placeholder="Username" class="form-control" id="idUsername" name="username">
      <div class="alert  alert-danger" *ngIf="form1.get('username').hasError('required') && form1.get('username').touched">
        Username is required.
      </div>
    </div>

    <div class="form-group">
      <label for="idEmail">Email:</label>
      <input formControlName="email" placeholder="Email" class="form-control" id="idEmail" name="email">
      <div class="alert  alert-danger" *ngIf="form1.get('email').hasError('required') && form1.get('email').touched">
        Email is required.
      </div>
    </div>

    <div class="form-group">
      <label for="idPassword">Password</label>
      <input type="password" formControlName="password" class="form-control" id="idPassword" name="password"/>
      <div class="alert  alert-danger" *ngIf="form1.get('password').hasError('password') && form1.get('password').touched">
        Password is required and must be at least 6 characters.
      </div>
    </div>

    <button class="btn btn-success" [disabled]='form1.invalid' (click)="registerUser()">Register</button>

  </form>

  <!-- step 2 of 2 forms -->
      <form [formGroup]="form2" novalidate class="form" *ngIf="displayForm2">

      <div class="form-group" >
        <label for="idFirstName">Business name:</label>
        <input formControlName="name" placeholder="name" class="form-control" id="idName" name="name">
        <div class="alert  alert-danger" *ngIf="form2.get('name').hasError('required') && form2.get('name').touched">
          Business name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="idAddress1">Address:</label>
        <input formControlName="address1" placeholder="Address" class="form-control" id="idAddress1" name="address1">
        <div class="alert  alert-danger" *ngIf="form2.get('address1').hasError('required') && form2.get('address1').touched">
          Address is required.
        </div>
      </div>


      <div class="form-group">
        <label for="idCity">Username:</label>
        <input formControlName="city" placeholder="City" class="form-control" id="idCity" name="city">
        <div class="alert  alert-danger" *ngIf="form2.get('city').hasError('required') && form2.get('city').touched">
          City is required.
        </div>
      </div>

      <button class="btn btn-success" [disabled]='form2.invalid' (click)="registerSite()">Register</button>

    </form>


</div>
