<h2>Get started here.</h2>

<div *ngIf="isLoggedIn$ | async" class="row">

  <div class="col-md-8">
    <p>Put instructions on how to use the site here.</p>
  </div>

</div>

<div *ngIf="!(isLoggedIn$ | async)" class="row">

  <div class="col-sm-5">
    <h3>Set up a new business</h3>
    <a routerLink="/account/business"><img src="assets/img/change.png"></a>
  </div>

  <div class="col-sm-5">
    <h3>Join an existing business</h3>
    <a routerLink="/account/register"><img src="assets/img/network.png"></a>
  </div>

</div>
