<form id="idLoginForm" [formGroup]="addForm" novalidate class="form">
  <div class="row" *ngIf="!(isLoggedIn$ | async)">
    <div class="col-md-6">
      <h2>Log In</h2>

      <div class="form-group">
        <label for="idUsername">Username:</label><br />
        <input type="text" id="idUsername" class="form-control" formControlName="username">
        <div *ngFor="let error of authService.errors.username">{{ error }}</div>
      </div>

      <div class="form-group">
        <label for="idPassword">Password:</label><br />
        <input type="password" id="idPassword" class="form-control" formControlName="password">
        <div *ngFor="let error of authService.errors.password">{{ error }}</div>
      </div>


      <div class="form-group">
        <button class="btn btn-success" [disabled]='addForm.invalid'  (click)="login()">Login</button>
        <a [routerLink]="['/account/register']" class="btn btn-link">Register</a>

      </div>

      <div class="form-group">
        <span *ngFor="let error of authService.errors.non_field_errors">{{ error }}<br /></span>
      </div>
    </div>
  </div>


</form>
