
<div class="row" *ngIf="isLoggedIn$ | async">
  <div class="col-md-8">

    <table class="table">
      <tr>
        <th scope="col">Key</th><th scope="col">Value</th>
      </tr>
      <tr>
        <th scope="col">Email </th><td>{{ authService.user.email }}</td>
      </tr>
      <tr>
        <th scope="col">First name </th><td>{{ authService.user.first_name }}</td>
      </tr>
      <tr>
        <th scope="col">Last name </th><td>{{ authService.user.last_name }}</td>
      </tr>
      <tr>
        <th scope="col">Company </th><td>{{ authService.user.site.name }}</td>
      </tr>
    </table>

    <div class="form-group">
      <button (click)="logout()" class="btn btn-danger" style="margin-left:10px;">Log Out</button>
    </div>

  </div>
</div>
