
<div class="row" *ngIf="isLoggedIn$ | async">
  <div class="col-md-8">

    <div class="form-group">
      <p>You are logged in as {{ authService.email }}.</p>
      <p>Your login will expire at: {{ authService.token_expires }}</p>
      <p>Use the menu icon at the top left to navigate the site.</p>
      <button (click)="refreshToken()" class="btn btn-primary">Refresh session</button>
      <button (click)="logout()" class="btn btn-danger" style="margin-left:10px;">Log Out</button>
    </div>

  </div>
</div>
